<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html class="no-js">             <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>isitsfw.com | Is it safe?</title>
    <meta name="description" content="Is it safe? A quick and intuitive way to check whether or not that ominous link is safe to view at work!">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= css :main %>
  </head>
  <body>
    <div id="outer-wrapper">
      <div id="wrapper">
        <main>
          <header><img src="/img/title.png" alt="title" /></header>
          <%= flash[:notice] %>
          <section id="box">
            <div class="container">
              <p>Well, is it?</p>
              <div class="loading"> </div>
              <div id="animate">
                <form method="post" action="">
                  <input placeholder="let's see" type="text" name="url" id="search" />
                  <input type="submit" class="button" value="search" name="submit" />
                </form>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <footer>
      <div class="container">
        <section class="left">
          <a href="/about">About</a>
          <span>&copy; isitsfw.com. All Rights Reserved.</span>
        </section>
      </div>
    </footer>
  <%= js :main %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46564217-1', 'isitsfw.com');
    ga('send', 'pageview');

  </script>
  </body>
</html>
