<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>isitsfw.com | Is it safe?</title>
    <meta name="description" content="Is it safe? A quick and intuitive way to check whether or not that ominous link is safe to view at work!">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <%= css :main %>
  </head>
  <body>
    <div id="outer-wrapper">
      <div id="wrapper">
        <main>
          <header><img src="/img/title.png" alt="title" /></header>
          <section id="box">
            <div class="container">
              <p>Well, is it?</p>
              <div class="loading"> </div>
              <div id="animate">
                <input placeholder="let's see.." type="text" name="search" id="search" />
                <button><span>search</span></button>
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <footer>
      <div class="container">
        <section class="left">
          <a href="#">About</a>
          <span>&copy; isitsfw.com. All Rights Reserved.</span>
        </section>
      </div>
    </footer>
  <%= js :main %>
  </body>
</html>
