body {
  html & {
    width: 100%;
    height: 100%;
  }
  height: 100%;
  width: 100%;
  background: @black;

  & > footer {
    background: url(@footer) repeat-x;
    height:144px;
    position:relative;
    z-index:1;
    width:100%;
    clear:both;
   .container {
      width:546px;
      padding: 32px 0;
      margin: 0 auto;
      .left {
        display:inline-block;
        float:left;
      }
      aside {
        display:inline-block;
        float:right;
      }
    }
  }

  #outer-wrapper {
    margin-top:0;
    position: relative;
    z-index:1;
    background: url(@body) repeat;
  }

  #wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    margin-bottom:-144px;
  }
}

main {
  .response {
    a {
      position:relative;
      top:-10px;
    }
    margin-top:-12px;
    position:absolute;
  }
  width: 546px;
  //height: 524px;
  overflow:auto;
  z-index:0;
  margin: 0 auto;
  padding-bottom:27%;
  header {
    margin-left:-26px;
    padding-top:30%;
    margin-bottom:5px;
  }
  #box {
    position:relative;
    .loading + div {
      position:relative;
      display:inline-block;
    }
    position:relative;
    .container {
      padding: 1px 1em 0;
    }
    p {
      margin-left:10px;
      margin-top:6px;
    }
    input {
      padding:0 5px;
    }
    #search {
      width: 411px;
      background: #fffdfc;
      border: none;
      margin-left:5px;
      outline:none;
      &:hover {
        outline:none;
        border:none;
      }
      height: 37px;
    }
    input, button {
      margin-top:-8px;
    }
    button {
      &.error {
        .transition(0.17s);
        background: @red;
      }
      width:79px;
      position: relative;
      top: 0px;
      height: 37px;
      .transition(0.17s);
      background: @blue;
      border: none;
      span {
        position:relative;
      }
      outline:none;
      &:hover {
        outline:none;
        border:none;
      }
    }
    background: fadeout(@black, 84%);
    .rounded(5px);
    width:546px;
    height:103px;
  }
}

.loading {
  position: absolute;
  display:none;
  margin-left: -10px;
  margin-top: -31px;
  .spinner {
    /* Size and position */
    font-size: 29px; 
    width: 1em;
    height: 1em;
    position: relative;
 
    /* Styles */
    list-style: none;
    border-radius: 50%;
    border: 1px solid fadeout(darken(rgb(150,150,150), 0%), 85%); /* Subtle white line circling the dots */
  }
   li {
    width: .2em;
    height: .2em;
    position: absolute;
    border-radius: 50%;
  }

 li:nth-child(1) {
    background: #00C176; /* Blue */
    top: 0;
    left: 50%;
    margin-left: -.1em; /* Width/2 */
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;}
 
  li:nth-child(2) {
    background: #FF003C; /* Red */
    top: 50%;
    right: 0;
    margin-top: -.1em; /* Height/2 */
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
  }
 
  li:nth-child(3) {
    background: #FABE28; /* Yellow */
    bottom: 0;
    left: 50%;
    margin-left: -.1em; /* Width/2 */
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
  }
 
  li:nth-child(4) {
    background: #88C100; /* Green */
    top: 50%;
    left: 0;
    margin-top: -.1em; /* Height/2 */
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
  }


  @-webkit-keyframes rota {
      to { -webkit-transform: rotate(360deg); }
  }

  @-moz-keyframes rota {
      to { -moz-transform: rotate(360deg); }
  }

  @-ms-keyframes rota {
      to { -ms-transform: rotate(360deg); }
  }

  @-o-keyframes rota {
      to { -o-transform: rotate(360deg); }
  }

  @keyframes rota {
      to { transform: rotate(360deg); }
  }

  @-webkit-keyframes opa {
      12.0% { opacity: 0.80; }
      19.5% { opacity: 0.88; }
      37.2% { opacity: 0.64; }
      40.5% { opacity: 0.52; }
      52.7% { opacity: 0.69; }
      60.2% { opacity: 0.60; }
      66.6% { opacity: 0.52; }
      70.0% { opacity: 0.63; }
      79.9% { opacity: 0.60; }
      84.2% { opacity: 0.75; }
      91.0% { opacity: 0.87; }
  }

  @-moz-keyframes opa {
      12.0% { opacity: 0.80; }
      19.5% { opacity: 0.88; }
      37.2% { opacity: 0.64; }
      40.5% { opacity: 0.52; }
      52.7% { opacity: 0.69; }
      60.2% { opacity: 0.60; }
      66.6% { opacity: 0.52; }
      70.0% { opacity: 0.63; }
      79.9% { opacity: 0.60; }
      84.2% { opacity: 0.75; }
      91.0% { opacity: 0.87; }
  }

  @-ms-keyframes opa {
      12.0% { opacity: 0.80; }
      19.5% { opacity: 0.88; }
      37.2% { opacity: 0.64; }
      40.5% { opacity: 0.52; }
      52.7% { opacity: 0.69; }
      60.2% { opacity: 0.60; }
      66.6% { opacity: 0.52; }
      70.0% { opacity: 0.63; }
      79.9% { opacity: 0.60; }
      84.2% { opacity: 0.75; }
      91.0% { opacity: 0.87; }
  }

  @-o-keyframes opa {
      12.0% { opacity: 0.80; }
      19.5% { opacity: 0.88; }
      37.2% { opacity: 0.64; }
      40.5% { opacity: 0.52; }
      52.7% { opacity: 0.69; }
      60.2% { opacity: 0.60; }
      66.6% { opacity: 0.52; }
      70.0% { opacity: 0.63; }
      79.9% { opacity: 0.60; }
      84.2% { opacity: 0.75; }
      91.0% { opacity: 0.87; }
  }

  @keyframes opa {
      12.0% { opacity: 0.80; }
      19.5% { opacity: 0.88; }
      37.2% { opacity: 0.64; }
      40.5% { opacity: 0.52; }
      52.7% { opacity: 0.69; }
      60.2% { opacity: 0.60; }
      66.6% { opacity: 0.52; }
      70.0% { opacity: 0.63; }
      79.9% { opacity: 0.60; }
      84.2% { opacity: 0.75; }
      91.0% { opacity: 0.87; }
  }

}