#lightbox-outer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:5;
  background: fadeout(#000, 90%);
}

body > img {
  display: none;
}

#lightbox {
  .close {
    float:right;
    display:block;
    color:#ccc;
    cursor:pointer;
    font-size:15px;
    margin-top:-5px;
  }
  position:absolute;
  overflow: auto;
  display:none;
  background:@off-white;
  padding:0.5em;
  .rounded(4px);
  word-wrap: break-word;
  width:600px;
  z-index:10;
  height:500px;
}

body {

  html & {
    width: 100%;
    height: 100%;
  }
  height: 100%;
  width: 100%;
  background: @black;

  & > footer {
    background: url(@footer) repeat-x;
    height:144px;
    position:relative;
    z-index:1;
    width:100%;
    clear:both;
   .container {
      width:546px;
      padding: 32px 0;
      margin: 0 auto;
      .left {
        display:inline-block;
        float:left;
      }
      aside {
        display:inline-block;
        float:right;
      }
    }
  }

  #outer-wrapper {
    margin-top:0;
    position: relative;
    z-index:1;
    background: url(@body) repeat;
  }

  #wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    margin-bottom:-144px;
  }
}

.ie8 .button {
  position: relative !important;
  top:7px !important;
}

main {

  .response {
    &.force {
      position: relative !important;
      margin-bottom:4px;
    }
    a {
      position:relative;
      top:-10px;
    }
    margin-top:-12px;
    position:absolute;
  }
  width: 546px;
  //height: 524px;
  overflow:auto;
  z-index:0;
  margin: 0 auto;
  padding-bottom:27%;
  header {
    &.page {
      padding-top:20%;
    }
    margin-left:-26px;
    padding-top:30%;
    margin-bottom:5px;
  }
  #box {
    position:relative;
    .loading + div {
      position:relative;
      display:inline-block;
    }
    position:relative;
    .container {
      padding: 1px 1em 0;
    }
    p {
      margin-left:10px;
      margin-top:6px;
    }
    input#search {
      padding:0 5px;
    }
    #search {
      width: 411px;
      background: #fffdfc;
      border: none;
      margin-left:5px;
      outline:none;
      &:hover {
        outline:none;
        border:none;
      }
      height: 37px;
    }
    input, button, .button {
      margin-top:-8px;
    }
    button, .button {
      &.error {
        .transition(0.17s);
        background: @red;
      }
      width:79px;
      position: relative;
      top: 0px;
      height: 37px;
      .transition(0.17s);
      background: @blue;
      border: none;
      span {
        position:relative;
      }
      outline:none;
      &:hover {
        outline:none;
        border:none;
      }
    }
   background: fadeout(@black, 84%) !important;
   background: #aeaeae; /* ie */
    .rounded(5px);
    width:546px;
    height:103px;
  }
}

